.jumbotron {
    background-image: url("../img/pizza.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container {
    display: block;
}

.user a {
    color: black;
}


h2 {
    position: relative;
}

.checkout-button a {
    float: right;
}

ul .list-group {
    border: gray;
    list-style-type: none;
}

.next-button a {
    float: right;
}

.previous-next-button a {
    float: right;
}

.dropdown {

}