body {
    background: black;
}

nav {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    background: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    position: absolute;
    right: 50%;
    font-family: 'Montserrat',
    sans-serif;
    color: black;
    text-decoration: none;
    font-size: 3em;
    padding: .2em .2em;
}

a {
    display: inline-block;
    padding: 5px 5px;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: blue;
    padding: 1em;
}

.navigation {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-items: flex-start;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    padding: 2em;
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: black;
    padding: 1em;
}
