body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message.message-info {

    background-color: rgba(0, 28, 255, 0.2);
    color: rgb(55, 47, 146);
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 20px;
    margin: 5px;
}

.message.message-success {
    background-color: rgba(0, 227, 0, 0.2);
    color: rgb(22,157, 1);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    width: 50%;
    height: 20px;
}

.message.message-warning {
    background-color: rgba(210, 255, 51, 0.3);
    color: rgb(226, 227, 81);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    width: 50%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.message.message-error {
    background-color: rgba(255, 99, 71, 0.2);
    color: rgb(226, 61, 39);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    width: 50%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}