body {
    margin: 0;
    padding: 0;
    background-color: #CCE3DE;
}

#mapbox-map {
    top: 0;
    bottom: 0;
    width: 100%;
}


#map { position: absolute; top: 0; bottom: 0; width: 100%; }


#mint {
    font-size: 36px;
    background-color: #6B9080;
    /*background-color: blue;*/
    color: #EAF4F4;
}

#button {
    border-color: #A4C3B2;
    /*background-color: #A4C3B2;*/
    /*color: #EAF4F4;*/
}


.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}